 section > h2
{
    margin-bottom: 4rem;
    font-size: 2rem !important;
    color: white !important;
}
.portfolio__container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item
{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio__item:hover
{
    border-color: var(--color-primary);
    background:transparent;
}

.portfolio__item-image
{
  
    overflow: hidden;
    filter: drop-shadow(0px 11px 8px #0b0b183f);
    border-radius: 40px 40px 0px 0px;
    width: 355px !important;
    
    
  

}
img {
    height: 220px;
}
 
/*img {
    width: 350px !important;
} */
.portfolio__item h3
{
    margin: 1.2rem 0 0.6rem;
}

.portfolio__item-cta
{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.desc
{
    margin-bottom: 1rem;
}

.technology
{
    margin-top: 0.7rem;
}


 /*tablet*/
@media screen and (max-width:1024px)
{
    .container
    {
        width: var(--container-width-md) !important;
    }
   .portfolio__container
   {
    
    grid-template-columns: 1fr 1fr   ;
   }

   .portfolio__item-image
   {
    width: 289px !important;
 
    
   }
  
 
   img {
    height: 158px !important;
}

.me img {
    
    width: 22rem;
    height: 28rem !important;
    
}
    
}   


/*mob*/
@media screen and (max-width: 600px) {
.portfolio__container{
grid-template-columns: 1fr;
}


img {
    height: 160px !important;
}
}